<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	                    http://www.springframework.org/schema/beans/spring-beans.xsd
	                    http://www.springframework.org/schema/context
	                    http://www.springframework.org/schema/context/spring-context.xsd
	                    http://www.springframework.org/schema/aop
	                    http://www.springframework.org/schema/aop/spring-aop.xsd">

	<bean id="novel" class="kr.hs.study.beans.Novel">
		<constructor-arg value="Kim" type="String" index="0"></constructor-arg>
		<constructor-arg value="spring" type="String"
			index="1"></constructor-arg>
		<constructor-arg value="8000" type="int" index="2"></constructor-arg>
	</bean>
	<bean id="poet" class="kr.hs.study.beans.Poet">
		<constructor-arg value="Lee" type="String" index="0"></constructor-arg>
		<constructor-arg value="spring2" type="String"
			index="1"></constructor-arg>
		<constructor-arg value="10000" type="int" index="2"></constructor-arg>
	</bean>
	<bean id="magazine" class="kr.hs.study.beans.Magazine">
		<constructor-arg value="Park" type="String" index="0"></constructor-arg>
		<constructor-arg value="spring3" type="String"
			index="1"></constructor-arg>
		<constructor-arg value="20000" type="int" index="2"></constructor-arg>
	</bean>
</beans>